In [1]:
#importing all necessary libraries

# Data Analysis
import pandas as pd
import numpy as np

In [2]:
#Loading dataset
df = pd.read_csv('Sales Data - Alll Data.csv')

# Display the first few rows of the dataset to get an overview
df.head()

,Opportunity ID,Account ID 18 Digits,Opportunity Owner,Amount (converted),Stage,Created Date,Close Date,Age,Lead Source,Employees,Industry,Market Segment,Reporting Manager,Territory,Month&Year,Created Month & Year
0,00606000014v7dX,00106000020umD2AAI,AE 9,348000.00,Proving,12/31/2022,6/24/2023,88,Inbound,NaN,Food & Beverage - Grocery Shops,NaN,Director of Sales 3,AMER,Jun 2023,Dec 2022
1,00606000014v7P1,00106000024AOQ6AAO,AE 9,60000.00,Scoping,12/30/2022,4/22/2023,89,Inbound,NaN,Retail,NaN,Director of Sales 3,AMER,Apr 2023,Dec 2022
2,00606000014v61y,00106000024ABJFAA4,AE 9,5000.00,Closed Lost,12/23/2022,1/7/2023,15,Inbound,NaN,staffing & recruiting,NaN,Director of Sales 3,AMER,Jan 2023,Dec 2022
3,00606000014v652,00106000024ABlUAAW,AE 9,120000.00,Closed Lost,12/23/2022,3/24/2023,91,Partner Referral,NaN,Retail,NaN,Director of Sales 3,AMER,Mar 2023,Dec 2022
4,00606000014v5kx,00106000024A8wVAAS,AE 8,1979.86,Closed Won,12/22/2022,12/28/2022,6,Partner Referral,291.0,Other Consumer Goods - Furniture,Corporate,Director of Sales 3,AMER,Dec 2022,Dec 2022

In [3]:
df['Market Segment'].fillna(df['Market Segment'].mode()[0], inplace=True)

,Opportunity ID,Account ID 18 Digits,Opportunity Owner,Amount (converted),Stage,Created Date,Close Date,Age,Lead Source,Employees,Industry,Market Segment,Reporting Manager,Territory,Month&Year,Created Month & Year
257,00606000012ybN7,00106000021dSrAAAU,AE 5,4708.80,Closed Lost,6/22/2022,8/6/2022,45,Inbound,NaN,Apparel & Textile - Clothes,Corporate,Director of Sales 2,EMEA,Aug 2022,Jun 2022
85,00606000014umcJ,00106000023QV8dAAG,AE 6,4068.05,Closed Lost,11/4/2022,12/27/2022,53,Inbound,NaN,internet,Corporate,Director of Sales 2,EMEA,Dec 2022,Nov 2022
13,00606000014v5Bs,001060000249tWOAAY,AE 1,48000.00,Scoping,12/20/2022,6/30/2023,99,Inbound,NaN,information technology & services,Corporate,Director of Sales 1,APAC,Jun 2023,Dec 2022
394,00606000012xFFh,0010600001xF0fJAAS,AE 10,NaN,Qualifying,3/22/2022,3/31/2022,372,Inbound,NaN,Other Consumer Goods,Corporate,IC,Other,Mar 2022,Mar 2022
354,00606000012xjrG,00106000020sISjAAM,AE 5,55790.40,Proving,4/28/2022,7/31/2023,335,Inbound,NaN,Financial Services,Corporate,Director of Sales 2,EMEA,Jul 2023,Apr 2022
440,00606000012bQ4d,0010600001z5m4OAAQ,AE 6,4103.05,Closed Lost,2/10/2022,9/29/2022,231,Inbound,NaN,Food & Beverage - Grocery Shops,Corporate,Director of Sales 2,EMEA,Sep 2022,Feb 2022
237,00606000012yrbf,00106000021fkKkAAI,AE 5,6973.80,Closed Lost,7/14/2022,11/9/2022,118,Inbound,NaN,Other Consumer Goods - Electronics,Corporate,Director of Sales 2,EMEA,Nov 2022,Jul 2022
185,00606000012wW2n,00106000020rc2bAAA,AE 4,5864.50,Closed Lost,8/19/2022,10/4/2022,46,Inbound,NaN,music,Corporate,Director of Sales 2,EMEA,Oct 2022,Aug 2022
10,00606000014v5b7,00106000024A7rCAAS,AE 9,120000.00,Scoping,12/21/2022,7/22/2023,98,Inbound,NaN,pharmaceuticals,Corporate,Director of Sales 3,AMER,Jul 2023,Dec 2022
326,00606000012xvez,00106000020tYomAAE,AE 7,3000.00,Closed Lost,5/13/2022,1/19/2023,250,Outbound,NaN,Food & Beverage - Restaurants,Corporate,Director of Sales 1,APAC,Jan 2023,May 2022

In [18]:
# Fill missing values in 'Amount (converted)' with the mean
df['Amount (converted)'].fillna(df['Amount (converted)'].mean(), inplace=True)
df['Amount (converted)'] = df['Amount (converted)'].round(2)

In [5]:
# Fill missing values in 'Lead Source' with the mode
df['Lead Source'].fillna(df['Lead Source'].mode()[0], inplace=True)

In [7]:
df['Industry'].fillna('Unknown', inplace=True)

In [15]:
missing_values = df.isnull().sum()
print("Remaining Missing Values:\n", missing_values)

Remaining Missing Values:
 Opportunity ID            0
Account ID 18 Digits      0
Opportunity Owner         0
Amount (converted)        0
Stage                     0
Created Date              0
Close Date                0
Age                       0
Lead Source               0
Employees               403
Industry                  0
Market Segment            0
Reporting Manager         0
Territory                 0
Month&Year                0
Created Month & Year      0
dtype: int64

In [10]:
df.to_csv('cleaned_sales_data.csv', index=False)

In [19]:
df.sample(10)

,Opportunity ID,Account ID 18 Digits,Opportunity Owner,Amount (converted),Stage,Created Date,Close Date,Age,Lead Source,Employees,Industry,Market Segment,Reporting Manager,Territory,Month&Year,Created Month & Year
397,00606000012xEaU,0010600001xEkw6AAC,AE 11,36000.00,Qualifying,3/22/2022,5/31/2023,372,Outbound,NaN,Unknown,Corporate,Director of Sales 1,APAC,May 2023,Mar 2022
208,00606000012yzRs,00106000022AQVjAAO,AE 8,34564.49,Closed Lost,8/3/2022,9/2/2022,30,Partner Referral,NaN,Food & Beverage - Restaurants,Corporate,Director of Sales 3,AMER,Sep 2022,Aug 2022
97,00606000014ukqd,00106000023OAtUAAW,AE 1,24000.00,Closed Lost,11/1/2022,3/15/2023,134,Outbound,NaN,Financial Services - Peer-to-peer lending,Corporate,Director of Sales 1,APAC,Mar 2023,Nov 2022
299,00606000012y4xl,00106000020ubwwAAA,AE 5,1221.20,Closed Lost,5/28/2022,6/2/2022,5,Inbound,NaN,sporting goods,Corporate,Director of Sales 2,EMEA,Jun 2022,May 2022
354,00606000012xjrG,00106000020sISjAAM,AE 5,55790.40,Proving,4/28/2022,7/31/2023,335,Inbound,NaN,Financial Services,Corporate,Director of Sales 2,EMEA,Jul 2023,Apr 2022
450,00606000012bHZs,0010600001z4sbKAAQ,AE 8,9000.00,Closed Lost,1/27/2022,1/21/2023,359,Inbound,NaN,Financial Services,Corporate,Director of Sales 3,AMER,Jan 2023,Jan 2022
15,00606000014v5H2,00106000024A6PZAA0,AE 4,139476.00,Scoping,12/20/2022,10/14/2023,99,Inbound,NaN,luxury goods & jewelry,Corporate,Director of Sales 2,EMEA,Oct 2023,Dec 2022
103,00606000014ujrf,00106000023PV2EAAW,AE 6,111580.80,Scoping,10/29/2022,9/30/2023,151,Inbound,NaN,consumer goods,Corporate,Director of Sales 2,EMEA,Sep 2023,Oct 2022
216,00606000012yxcK,00106000022A4qgAAC,AE 4,11729.00,Closed Lost,7/29/2022,10/14/2022,77,Inbound,NaN,hospital & health care,Corporate,Director of Sales 2,EMEA,Oct 2022,Jul 2022
16,00606000014v53U,00106000024A3GnAAK,AE 8,96000.00,Qualifying,12/17/2022,7/31/2023,102,Inbound,NaN,Retail,Corporate,Director of Sales 3,AMER,Jul 2023,Dec 2022